@page {
    sheet-size: Letter;
    margin-footer: .2in;
    odd-footer-name: html_MyFooter1;
    margin-left: .20in;
    margin-right: .20in;
    margin-top: .25in;
    margin-bottom: .2in
}
@page page2 {
    odd-footer-name: html_MyFooter2
}
section.page2 {
    page: page2;
    page-break-before: always
}
html,
body,
div,
span,
applet,
object,
iframe,
h1,
h2,
h3,
h4,
h5,
h6,
p,
blockquote,
pre,
a,
abbr,
acronym,
address,
big,
cite,
code,
del,
dfn,
em,
img,
ins,
kbd,
q,
s,
samp,
small,
strike,
strong,
sub,
sup,
tt,
var,
b,
u,
i,
center,
dl,
dt,
dd,
ol,
ul,
li,
fieldset,
form,
label,
legend,
table,
caption,
tbody,
tfoot,
thead,
tr,
th,
td,
article,
aside,
canvas,
details,
embed,
figure,
figcaption,
footer,
header,
hgroup,
menu,
nav,
output,
ruby,
section,
summary,
time,
mark,
audio,
video {
    margin: 0;
    padding: 0;
    border: 0;
    font-size: 100%;
    font: inherit;
    vertical-align: baseline
}
article,
aside,
details,
figcaption,
figure,
footer,
header,
hgroup,
menu,
nav,
section {
    display: block
}
body {
    line-height: 1
}
blockquote,
q {
    quotes: none
}
blockquote:before,
blockquote:after,
q:before,
table {
    border-collapse: collapse;
    border-spacing: 0;
    padding: 0 0 0 0;
    margin: 0 0 0 0
}
body {
    font-size: 11px;
    font-family: "calibri"
}
div,
p {
    line-height: 1.25em
}
p {
    /*    margin-bottom: .25em */
}
h2,
h3,
ol {
    margin-bottom: .33em
}
ul {
    line-height: 1.33em
}
h2 {
    text-decoration: underline
}
h2,
h3 {
    font-weight: bold;
    font-size: 1.25em
}
h4 {
    font-weight: normal;
    line-height: 1em;
    margin-bottom: .5em
}
h5 {
    font-weight: normal;
    line-height: 1em;
    margin-bottom: .5em
}
h6 {
    font-weight: normal;
    line-height: 1.25em;
    margin-bottom: .5em
}
ol,
ul {
    padding-top: .25em;
    margin-bottom: .25em
}
ul {
    margin-left: 1.333333em
}
ol {
    list-style-position: inside;
    list-style-type: decimal
}
table.boxes tr {
    border: .25px solid black;
}
table.boxes td {
    border-left: .25px solid black;
}
table.boxes td,
table.no-boxes td {
    text-align: center;
    vertical-align: bottom;
    width: 16px;
    height: 20px
}
table.no-grid {
    vertical-align: middle;
    font-size: .65em
}
table.no-grid td {
    vertical-align: middle;
}
table.grid {
    width: 100%
}
table.grid tr {
    border-bottom: .25px solid black;
    border-top: .25px solid black
}
table.grid td,
table.grid th {
    border: .25px solid black;
    text-align: center;
    vertical-align: middle
}
table.grid th {
    font-size: .7em
}
table.grid th.partyband {
    font-size: 1.35em!important line-height: .95em!important;
    padding: 0 0 0 0;
    margin: 0 0 0 0;
}
table.grid td {
    font-size: 1em;
    padding: .79em .33em .79em .33em
}
table.grid th {
    padding: .33em
}
table.grid td:nth-child(1),
table.grid th:nth-child(1) {
    width: 3%;
    font-weight: bold
}
table.grid td:nth-child(2),
table.grid th:nth-child(2) {
    width: 23.25%
}
table.grid td:nth-child(3),
table.grid th:nth-child(3) {
    width: 24%
}
table.grid td:nth-child(4),
table.grid th:nth-child(4) {
    width: 37.75%
}
table.grid td:nth-child(5),
table.grid td:nth-child(5) {
    width: 12%
}
section {
    width: 100%;
    margin-bottom: 0;
    margin-top: 0;
    padding-top: .1em;
    padding-bottom: .1em;
}
p.note {
    font-size: 8px!important;
}
p.info {
    font-size: 10px!important;
    font-weight: bold;
}
.text-justify {
    text-align: justify!important;
}
.text-center {
    text-align: center!important
}
.full {
    display: inline-block;
    border-bottom: .5px solid black;
    padding-bottom: .5em;
    height: 2em
}
table.line {
    width: 100%
    padding-bottom: -.25px!important;
}
table.line tr {
    border-bottom: .25px solid black!important
}
table.form td.first {
    width: fit-content
}
table.form td.number {
    width: 1.33em
}
table.form-padding {
    padding-top: 1.25em;
    padding-bottom: .5em;
    padding-top: 0
}
span.line,
div.line {
    border-bottom: .25px solid black
}
span.fixed {
    font-family: Courier!important
}
table.boxes td.fixed {
    font-family: Courier!important
}
.headroom {
    padding-top: 7px!important
}
.font-size-sixteenpx {
    font-size: 16px!important
}
.font-size-fifteenpx {
    font-size: 15px!important
}
.font-size-fourteenpx {
    font-size: 14px!important
}
.font-size-thirteenpx {
    font-size: 13px!important
}
.font-size-twelvepx {
    font-size: 12px!important
}
.font-size-elevenpx {
    font-size: 11px!important
}
.font-size-halftenpx {
    font-size: 10.5px!important
}
.font-size-tenpx {
    font-size: 10px!important
}
.font-size-halfninepx {
    font-size: 9.5px!important
}
.font-size-ninepx {
    font-size: 9px!important
}
.font-size-halfeightpx {
    font-size: 8.5px!important
}
.font-size-eightpx {
    font-size: 8px!important
}
.font-size-sevenpx {
    font-size: 7px!important
}
.font-size-sixpx {
    font-size: 6px!important
}
.font-size-fivepx {
    font-size: 5px!important
}
.font-size-fourpx {
    font-size: 4px!important
}
.font-size-threepx {
    font-size: 3px!important
}
.font-size-twopx {
    font-size: 2px!important
}
.font-size-onepx {
    font-size: 1px!important
}
.width-20px  {
    width: 20px!important;
}
.width-24px  {
    width: 24px!important;
}
.width-30px  {
    width: 30px!important;
}
.width-40px  {
    width: 40px!important;
}
.width-50px  {
    width: 50px!important;
}
.width-60px  {
    width: 60px!important;
}
div.ninty {
    width: 90%
}
div.eighty-five {
    width: 85%
}
div.seventy {
    width: 70%
}
div.fifteen {
    width: 15%
}
div.ten {
    width: 10%
}
div.five {
    width: 1%
}
div.right {
    display: inline-block;
    float: right
}
div.left {
    display: inline-block;
    float: left
}
div.center {
    display: inline-block;
    float: center
}
div.line {
    width: 100%
}
.bc-text {
    display: inline-block;
    border: .5px solid black;
    width: 75%
}
.two-em {
    display: inline-block;
    width: 2em;
    border-bottom: .5px solid black
}
table.fifty td {
    width: 50%;
}
table.fifty td:nth-child(1) {
    padding-right: .5em;
    border-right: 1px solid black;
}
table.fifty td:nth-child(2) {
    padding-left: .5em;
    border-left: 1px solid black;
}
div.fifty {
    vertical-align: top;
    width: 48.5%;
    padding-left: .33em;
    padding-right: .33em
}
div.fifty-five {
    vertical-align: top;
    width: 57.5%;
    padding-left: .33em;
    padding-right: .33em
}
div.line-left {
    padding-left: .25em border-left: 2px solid black
}
div.line-right {
    border-right: 2px solid black
}
section.block {
    padding-top: .25em
}
section.form {
    padding-left: .25em;
    padding-right: .25em
}
div.office-use {
    text-align: center;
    border-left: .5px solid black;
    border-right: .5px solid black;
    height: 145px;
    margin-right: -.5em;
    overflow: hidden
}
div.small-br {
    line-height: 5px;
    font-size: .5em
}
div.smaller-br {
    line-height: 3px;
    font-size: .25em
}
div.smallest-br {
    line-height: .5px;
    font-size: .25px
}
table.top-only tr:nth-child(1) {
    border-top: .5px solid black;
}
section.bottom-only {
    border-bottom: .5px solid black;
}
section.top-bottom {
    border-top: .5px solid black;
    border-bottom: .5px solid black;
}
p.cheat-top {
    margin-top: -4.5px;
    margin-bottom: -7.5px;
}
span.smallish {
    font-size: 7px!important;
}
span.boldish {
    font-weight: bold!important;
}
p.little-extra-margin{
    margin-right: -10px;
}