@page {
    sheet-size: Letter;
/*    margin-footer: .25in;
    odd-footer-name: html_MyFooter1;*/
    margin-left: 0;
    margin-right: 0;
    margin-top: 0;
    margin-bottom: 0;
}
@page page2 {
/*    odd-footer-name: html_MyFooter2*/
}
section.page2 {
    page: page2;
    page-break-before: always
}
section.page3 {
    page: page3;
    page-break-before: always
}
a,
abbr,
acronym,
address,
applet,
article,
aside,
audio,
b,
big,
blockquote,
body,
canvas,
caption,
center,
cite,
code,
dd,
del,
details,
dfn,
div,
dl,
dt,
em,
embed,
fieldset,
figcaption,
figure,
footer,
form,
h1,
h2,
h3,
h4,
h5,
h6,
header,
hgroup,
html,
i,
iframe,
img,
ins,
kbd,
label,
legend,
li,
mark,
menu,
nav,
object,
ol,
output,
p,
pre,
q,
ruby,
s,
samp,
section,
small,
span,
strike,
strong,
sub,
summary,
sup,
table,
tbody,
td,
tfoot,
th,
thead,
time,
tr,
tt,
u,
ul,
var,
video {
    margin: 0;
    padding: 0;
    border: 0;
    font-size: 100%;
    font: inherit;
    vertical-align: baseline
}
article,
aside,
details,
figcaption,
figure,
footer,
header,
hgroup,
menu,
nav,
section {
    display: block
}
body {
    line-height: 1
}
blockquote,
q {
    quotes: none
}
blockquote:after,
blockquote:before,
q:before,
table {
    border-collapse: collapse;
    border-spacing: 0
}
body {
    font-size: 11px;
    font-family: calibri
}
div,
p {
    line-height: 1.25em
}
p {
    margin-bottom: .25em
}
h2,
h3,
ol {
    margin-bottom: .5em
}
ul {
    line-height: 1.33em
}
h2 {
    text-decoration: underline
}
h2,
h3 {
    font-weight: 700;
    font-size: 1.25em
}
h4 {
    font-weight: 400;
    line-height: 1em;
    margin-bottom: .5em
}
h5 {
    font-weight: 400;
    line-height: 1em;
    margin-bottom: .5em
}
h6 {
    font-weight: 400;
    line-height: 1.25em;
    margin-bottom: .5em
}
ol,
ul {
    padding-top: .25em;
    margin-bottom: .25em
}
ul {
    margin-left: 1.333333em
}
ol {
    list-style-position: inside;
    list-style-type: decimal
}
table {
    width: 100%
}
section {
    width: 100%;
}
.text-center {
    text-align: center
}
.full {
    display: inline-block;
    border-bottom: .5px solid #000;
    height: 2em
}
h4.space-after {
    line-height: 1.6em;
}
table.form td.first {
    width: fit-content
}
table.form td.number {
    width: 1.33em
}
table.form {
    margin-top: 1.25em;
    padding-top: 0
}
div.ninty {
    width: 90%
}
div.eighty-five {
    width: 85%
}
div.seventy {
    width: 70%
}
div.fifteen {
    width: 15%
}
div.ten {
    width: 10%
}
div.five {
    width: 1%
}
div.right {
    display: inline-block;
    float: right
}
div.left {
    display: inline-block;
    float: left
}
div.center {
    display: inline-block;
    float: center
}
div.line {
    width: 100%
}
.twenty-five {
    vertical-align: top;
    width: 35%;
}
.thirty-tree {
    vertical-align: top;
    width: 42%;
}
.forty-five {
    vertical-align: top;
    width: 42%;
    padding-left: .33em;
}
.fifty {
    vertical-align: top;
    width: 48.5%;
    padding-left: .33em;
}
.fifty-five {
    vertical-align: top;
    width: 54.5%;
    padding-left: .33em;
}
.sixty-seven {
    vertical-align: top;
    width: 56%;
    padding-right: .33em;
}
.seventy-five {
    vertical-align: top;
    width: 65%;
}
.eighty {
    width: 75% !important;
}
section.block {
    margin-top: .25em
}
section.form {
    padding-left: .25em;
}
.font-size-sixteenpx {
    font-size: 16px!important
}
.font-size-fifteenpx {
    font-size: 15px!important
}
.font-size-fourteenpx {
    font-size: 14px!important
}
.font-size-thirteenpx {
    font-size: 13px!important
}
.font-size-twelvepx {
    font-size: 12px!important
}
.font-size-elevenpx {
    font-size: 11px!important
}
.font-size-halftenpx {
    font-size: 10.5px!important
}
.font-size-tenpx {
    font-size: 10px!important
}
.font-size-halfninepx {
    font-size: 9.5px!important
}
.font-size-ninepx {
    font-size: 9px!important
}
.font-size-halfeightpx {
    font-size: 8.5px!important
}
.font-size-eightpx {
    font-size: 8px!important
}
.font-size-sevenpx {
    font-size: 7px!important
}
.font-size-sixpx {
    font-size: 6px!important
}
.font-size-fivepx {
    font-size: 5px!important
}
.font-size-fourpx {
    font-size: 4px!important
}
.font-size-threepx {
    font-size: 3px!important
}
.font-size-twopx {
    font-size: 2px!important
}
.font-size-onepx {
    font-size: 1px!important
}
.fixed, .fixed-2, .fixed-3, .fixed-4  {
    float:left;
    height: 20px;
    font-family: Courier!important;
}
.fixed-one-point-two-five{
    width: 15px;
}
.fixed {
    width: 20px;
}
.fixed-2 {
    width: 35px;
}
.fixed-3 {
    width: 45px;
}
.fixed-4 {
    width: 65px;
}
.boxes {
    padding-left: 62px;
}
.political-body-row {
    padding-top: 104px;
    padding-left: 160px;
}
.candidate-info-row {
    padding-top: 102px;
    padding-left: 24px;
}

