/* styles for form */

.hidden {
	display:none;
}

.error {
	color: red!important;
}

.right {
	text-align: right!important;
}

table.sigform {
	width: 90%;
	padding-top: 5px!important;
	padding-bottom: 5px!important;
	padding-left: 10px!important;
	/* margin-left: 10px!important; */
	padding-right: -50px!important;
    background-color: #f9f9f9!important;
	border-style: solid!important;
    border-color: #ccc!important;
	border-width: 1px!important;
	border-radius: 3px!important;
	box-shadow: 1px 1px 1px #eee;
}

.candidate_remove {
	cursor: pointer;
	font-weight: bold;
}

.left {
	float: left;
}

td.candidate-header {
	width: 20%;
}
table.candidate-header {
	width: 100%;
}
.center {
	text-align:center;
}

.twenty {
	width: 20%;
}

.ninteen {
	width: 19%;
}

.eighteen {
	width: 18%;
}

.seventeen {
	width: 17%;
}
